extends base  
  
block content
  section.overview__main
    .overview__main--sidebar
      button.btn.sidebar__btn--1.active
        | contact list
      button.btn.sidebar__btn--2 messages sent
    .overview__content--contacts
      .overview__main--content
        h2.mb-medium.overview__heading candidates
        .main__content
          each user in users
            .contact__container
              - let name;
              - const nameArray = user.name.split(' ');
              - if(nameArray.length >= 3) name = `${nameArray[0]} ${nameArray[2]}`;
              - else name = nameArray.join(' ');
              p.contact__container--name #{name}
              a.btn.detailsBtn(href=`/${user.number}`) more details
    .overview__content--messages.hidden
      .overview__main--content
        h2.mb-medium.overview__heading messages sent
        .message__content
          .message__container
            .message__container--block
              p.message__container--item.message__container--head
                | name
            .message__container--block
              p.message__container--item.message__container--head
                | date
            .message__container--block
              p.message__container--item.message__container--head
                | otp
          .message__container
            each message in messages
              - const date = new Date(message.time).toLocaleString();
              .message__container--block
                p.message__container--item #{message.name}
              .message__container--block
                p.message__container--item #{date}
              .message__container--block
                p.message__container--item #{message.otp}
          
